[Unit]
Description=Chaind stored
Wants=network-online.target
After=network-online.target
[Service]
User={{ chaind_username }}
Group={{ chaind_username }}
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/chaind --base-dir /etc/chaind
[Install]
WantedBy=multi-user.target