# metrics
metrics-enabled: true

# database
data-base-path: "{{ teku_datapath }}"
data-storage-mode: "archive"

# rest api
rest-api-enabled: true
rest-api-interface: {{ teku_restip }}
rest-api-port: {{ teku_restport }}
rest-api-host-allowlist: ["*"]
rest-api-docs-enabled: true

# logging
logging: "{{ teku_loglevel }}"
log-destination: "DEFAULT_BOTH"
