[Unit]
Description=Teku Eth2 Client
Wants=network-online.target
After=network-online.target
[Service]
User={{ teku_username }}
Group={{ teku_username }}
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/local/teku/bin/teku --config-file=/etc/teku.yaml
[Install]
WantedBy=multi-user.target