# metrics
metrics-enabled: true

# database
data-base-path: "/var/lib/teku" 
data-storage-mode: "archive"

# rest api
rest-api-enabled: true
rest-api-port: {{teku_restport}}
rest-api-interface: "0.0.0.0"
rest-api-host-allowlist: ["*"]
rest-api-docs-enabled: true

# http://<interface>:<port>/swagger-ui

# logging
logging: "DEBUG"
log-destination: "DEFAULT_BOTH"
