# network: "minimal"    # The default is mainnet https://github.com/ethereum/consensus-specs/tree/master/configs
# initial-state: "/var/lib/teku/genesis.ssz"
# ws-checkpoint: "0x5a642bb8f367e98c0d11426d98d28c465f8988fc960500886cb49faf0372883a:3600"

# data-base-path: "/var/lib/teku"                  # The default is $XDG_DATA_HOME/teku if $XDG_DATA_HOME is set; otherwise ~/.local/share/teku
# data-beacon-path: "~/.local/share/teku/beacon"         # The default is <data-base-path>/beacon
# data-storage-archive-frequency: 2048                   # The default is 2048  
# data-storage-mode: "archive"                           # The default is prune 
# data-validator-path: "~/.local/share/teku/validator"   # The default is <data-base-path>/validator

# Ethereum 1.0 address of the deposit contract. Only required when creating a custom network.
# eth1-deposit-contract-address: "0x77f7bED277449F51505a4C54550B074030d989bC"
# eth1-deposit-contract-max-request-size: 10000  # The default is 10000.
# eth1-endpoint: ["http://0.0.0.0:8545"]  

# logging: "DEBUG"                             # Default is INFO.  Could be  OFF, FATAL, ERROR, WARN, INFO, DEBUG, TRACE, ALL
# log-color-enabled: true                     # The default is true  
# log-destination: "CONSOLE"                  # BOTH, CONSOLE, DEFAULT_BOTH, FILE. The default is DEFAULT_BOTH
# log-file: "~/.local/share/teku/logs"        # The default is $XDG_DATA_HOME/teku/logs if $XDG_DATA_HOME is set; otherwise ~/.local/share/teku/logs
# log-file-name-pattern: "tekuL_%d{yyyy-MM-dd}.log"
# log-include-events-enabled: true            # The default is true
# log-include-validator-duties-enabled: false # The default is true

# metrics-enabled: true                                 # The default is false
# metrics-host-allowlist: ["*"]    # By default, Teku accepts access from localhost and 127.0.0.1
# metrics-categories: ["JVM", "PROCESS", "BEACON", "EVENTBUS", "EXECUTOR", "LIBP"2"P", "NETWORK", "STORAGE", "STORAGE_HOT_DB", "STORAGE_FINALIZED_DB", "REMOTE_VALIDATOR", "VALIDATOR", "VALIDATOR_PERFORMANCE"]      # Options are JVM, PROCESS, BEACON, EVENTBUS, EXECUTOR, LIBP2P, NETWORK, STORAGE, STORAGE_HOT_DB, STORAGE_FINALIZED_DB, REMOTE_VALIDATOR, VALIDATOR, VALIDATOR_PERFORMANCE
# metrics-interface: "127.0.0.1"                   # The default is 127.0.0.1
# metrics-port: 8008                               # The default is 8008

# p2p-advertised-ip: "127.0.0.1"                                  # The default is 127.0.0.1
# p2p-enabled: true                                               # The default is true
# p2p-interface: "0.0.0.0"                                        # The default is 0.0.0.0 (all interfaces)
# p2p-nat-method: "NONE"                                          # The default is NONE, which disables NAT functionality. https://docs.teku.consensys.net/en/latest/HowTo/Find-and-Connect/Specifying-NAT/
# p2p-peer-lower-bound: 64                                        # The default is 64
# p2p-peer-upper-bound: 74                                        # The default is 74
# p2p-port: 9000                                                  # The default is 9000
# p2p-discovery-enabled: true                                     # The default is true
# p2p-discovery-bootnodes: ["enr:-Iu4QG...wgiMo", "enr:-Iu4QL...wgiMo"]
# p2p-advertised-port: 9001                                       # The default is the port specified in --p2p-port
# p2p-private-key-file: "/home/me/me_node/key"  
# p2p-static-peers: ["/ip4/151.150.191.80/tcp/9000/p2p/16Ui...aXRz",
# p2p-subscribe-all-subnets-enabled: false                         # The default is false


# rest-api-enabled: true                                            # The default is false
# rest-api-cors-origins: ["none"]                                    # The default is “none.”
# rest-api-docs-enabled: false                                       # The default is false
# rest-api-host-allowlist: ["*"]                # By default, Teku accepts access from localhost and 127.0.0.1
# rest-api-interface: "127.0.0.1"                                    # The default is 127.0.0.1
# rest-api-port: 5051                                                # The default is 5051

# validator-keys: "/home/validator/keys:home/validator/passwords"
# validators-early-attestations-enabled: true                                        # The default is true
# validators-external-signer-keystore: "teku_client_keystore.p12"
# validators-external-signer-keystore-password-file: "keystore_pass.txt"
# validators-external-signer-public-keys: ["0xa99a...e44c","0xb89b...4a0b"]
# validators-external-signer-slashing-protection-enabled: true                      # The default is true
# validators-external-signer-timeout: 1000                                          # The default is 1000
# validators-external-signer-truststore: "websigner_truststore.p12"
# validators-external-signer-truststore-password-file: "truststore_pass.txt"
# validators-external-signer-url: "http://localhost:9000"
# validators-graffiti: "Teku validator"
# validators-graffiti-file: "/Users/me/mynode/graffiti.txt"                          
# validators-keystore-locking-enabled: true                                          # The default is true
# validators-performance-tracking-mode: ALL   