[teku]
%{ for instance in teku-ids ~}
${instance}
%{ endfor ~}

[chaind]
%{ for instance in chaind-ids ~}
${instance}
%{ endfor ~}

[chaind-db]
${chaindb}



[all:vars]
ansible_port=22
ansible_ssh_common_args=-o StrictHostKeyChecking=no -o ProxyCommand="sh -c \"aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'\""
ansible_user='ubuntu'
ansible_become=true